/* style body, all elements will use so no repeats - no updates when changing font in body, 
changed inside .weather-app class div and it did update the font, had to move the css link to after bootstrap link so that it would be last
and bootstrap wouldn't have higher priority */
body {
  /* font of the entire app */
  font-family: "Montserrat", sans-serif;
  background: #f2f2f2;
}

h1 {
  color: #6643b5;
  font-size: 12px;
  font-weight: 100;
  line-height: 28px;
  /* spacing between li and h1 remove by setting h1 margin bottom to 0 so no extra spacing */
  margin-bottom: 0;
}

h2 {
  color: #6643b5;
}
ul {
  /* list has default margin and paddings b/c of default bullet points, set to 0 to remove and left align */
  margin: 0;
  padding: 0;
}
li {
  /* remove bullet points in list */
  list-style: none;
}

/* wrapping the actual app */
.weather-app-wrapper {
  /* width of app on page */
  max-width: 600px;
  /* center app with 0 auto, add margin at top to change 0 to size*/
  margin: 30px auto;
}

/* class selectors at bottom, after generic elements */
/* styling of app */
.weather-app {
  /* padding area is the space between its content and its border */
  padding: 20px;
  /* border around the app */
  border: 3px solid #34495e;
  /* to round the border so not so perfectly square */
  border-radius: 10px;
  background: linear-gradient(
    90.7deg,
    rgb(255, 253, 218) 1.9%,
    rgb(246, 210, 255) 39.3%,
    rgb(152, 222, 254) 64.7%,
    rgb(251, 255, 210) 100.8%
  );
}

.temperature-digit {
  color: #6643b5;
  font-size: 50px;
  /* line height set to 1 to remove spacing on top, amount of space it'll take, 1 = 64px */
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 14px;
  /* to move the C F up top next to temperature digit */
  top: -15px;
}

/* to capitalize the weather condition, kind of ugly to do inside javascript */
li:first-letter {
  text-transform: capitalize;
}

/* hiding that the c and f are links */
.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

#additional-specs-display {
  border: 2px dashed black;
  border-radius: 8px;
  font-size: 13px;
  padding: 10px 10px;
  box-shadow: 8px 4px 4px #98defe;
  color: #34495e;
}

#bottom-col {
  padding-top: 30px;
  padding-bottom: 20px;
}

#current-button:hover {
  cursor: pointer;
}

#coded-by {
  color: gray;
}

/* forcast row */
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

/* styling the last updated and weather condition together */
#time,
#weather-condition {
  opacity: 0.5;
}

/* low temps of 5 day forcast */
.weather-forecast-temperature-min {
  opacity: 0.5;
}

#search-button,
#current-button {
  background: #a2ddfe;
  color: #34495e;
}
.active {
  color: #34495e;
}

.weather-forecast-date {
  color: #34495e;
}
