/* style body, all elements will use so no repeats - no updates when changing font in body, 
changed inside .weather-app class div and it did update the font, had to move the css link to after bootstrap link so that it would be last
and bootstrap wouldn't have higher priority */
body {
  /* font of the entire app */
  font-family: "DM Serif Display", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Mooli", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-family: "Young Serif", serif;
}

h1 {
  color: green;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  /* spacing between li and h1 remove by setting h1 margin bottom to 0 so no extra spacing */
  margin-bottom: 0;
}
ul {
  /* list has default margin and paddings b/c of default bullet points, set to 0 to remove and left align */
  margin: 0;
  padding: 0;
}
li {
  /* remove bullet points in list */
  list-style: none;
}

/* wrapping the actual app */
.weather-app-wrapper {
  /* width of app on page */
  max-width: 600px;
  /* center app with 0 auto, add margin at top to change 0 to size*/
  margin: 30px auto;
}

/* class selectors at bottom, after generic elements */
/* styling of app */
.weather-app {
  /* padding area is the space between its content and its border */
  padding: 20px;
  /* border around the app */
  border: 1px solid black;
  /* to round the border so not so perfectly square */
  border-radius: 10px;
}

.temperature-digit {
  color: blue;
  font-size: 50px;
  /* line height set to 1 to remove spacing on top, amount of space it'll take, 1 = 64px */
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 14px;
  /* to move the C F up top next to temperature digit */
  top: -15px;
}

/* to capitalize the weather condition, kind of ugly to do inside javascript */
li:first-letter {
  text-transform: capitalize;
}
